<!DOCTYPE html>
{% extends 'receiver/data_receiver_panel.html' %}
{% block content %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-6">
    <div class="card">
        <div class="card-header"><strong> Download files </strong></div>
        <div class="card-body card-block">
            <form method="post">{% csrf_token %}

                 {{form|crispy}}


<div class="form-actions form-group text-center">
                    <button type="submit" class="btn btn-success btn-sm">Download</button>
                </div>

            </form>
        </div>

    </div>
</div>

</body>
{% endblock %}
</html>